<!DOCTYPE html>
<html>
<head>
    <title>Artists</title>
    <link rel="stylesheet" href="/templates/assests/style.css">
</head>
<body>
    
    <div class="container">
        {{range .}}
            <div class="card">
                <img src="{{.Image}}" alt="{{.Name}}">
                <h2 class="card-name">{{.Name}}</h2>         
                    <p>Creation Date: {{.CreationDate}}</p>
                    <p>First Album: {{.FirstAlbum}}</p>
                <form action="/artist" method="post">
                <button value="{{.Id}}" name="Id">Read more</button>
            </form>
        </div>
        {{end}}
    </div>
</body>
</html>
