* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/background.jpg);
    font-family: "Radio Canada Big", sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: center;
    gap: 65px;
}

.card {
    width: 308px;
    height: 397px;
    text-align: center;
    background: lightgrey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.514);
    border-radius: 10px;
}

.card-name {
    margin-bottom: 15px;
}

button {
    font-family: "Radio Canada Big", cursive, sans-serif;
    font-size: 17px;
    width: 100px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #b0afcea4;
    padding: 2px 8px;
    border-radius: 20px;
    cursor: pointer;
    box-sizing: border-box;
}

.btn {
    margin-left: 45px;
    width: 100px;
    height: 50px;
    font-size: 16px;
    box-sizing: border-box; /* Ensures padding is included in width/height */
}

button:hover {
    background-color: lightgrey;
}

img {
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
    margin-top: 18px;
    margin-bottom: 10px;
    width: 212px;
}

.content {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 40px;
    background-color: lightgrey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
    padding: 20px;
}

.context {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    font-size: 16px;
    padding: 40px;
    gap: 80px;
}

.artimage {
    border-radius: 0%;
    width: 350px;
    height: 350px;
}



.Members, .CreationDate, .FirstAlbum, .locations, .Dates, .DateLocation {
    font-size: 25px;
}

.member, .creation-date, .first-album, .location, .date, .date-location-item, .date-location-title {
    text-align: left;
    font-size: 18px;
    font-family: serif;
}
